<h2>Reactivos: <small>Dinámicos</small></h2>

<hr>

<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
    
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
            placeholder="Nombre de la persona"
            formControlName="nombre">
            <span class="form-text text-danger"
                  *ngIf="campoEsValido('nombre')">
                    Este campo és obligatorio
                    </span>   
        </div>
    </div>

    <!-- Agregar Favorito-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
    <!-- no podemos linkar el input con la variable nuevoFavorito del ts con formControlName="nuevoFavorito" porque este valor no existe dentro de miFormulario, está fuera, independiente. Lo ponemos en un nuevo [formControl] para que utilice el valor de nuevoFavorito-->
            <input class="form-control"
            [formControl]="nuevoFavorito"
            placeholder="Agregar favorito"
            (keyup.enter)="agregarFavorito()">

            <button class="btn btn-outline-primary" type="button"
            (click)="agregarFavorito()">
                Agregar
            </button>
        </div>
        </div>
    </div>

    <!-- Lista juegos favoritos -->

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <!-- formArrayName="favoritos" es los favoritos que aparece dentro de miFromulario en ts 
                favoritosArr es el getter que tenemos en ts-->
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group mb-1"
                 *ngFor="let favorito of favoritosArr.controls; let i=index">
                <input 
                class="form-control"
                [formControlName]="i">
                <!-- [formControlName]="i" entre llaves para que tome el valor de i no el string i -->
                <button 
                    class="btn btn-outline-danger" 
                    type="button"
                    (click)="borrar(i)">
                    Eliminar
                </button>
            </div>
 
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!-- el button si es de tipo button le tenemos que añadir (click)="guardar()", si es de tipo submit no hace falta porque el form ya lo lleva arriba en el ngSubmit -->
            <button 
            class="btn btn-primary float-end" 
            type="submit" 
            >
                Guardar
            </button>
        </div>
    </div>
</form>

<span>Valid</span>
<pre>{{miFormulario.valid}}</pre>

<br>

<span>Value</span>
<pre>{{miFormulario.value | json}}</pre>

<br>

<span>Agregar Juego</span>
<pre>{{nuevoFavorito.valid}}</pre>
<br>
<pre>{{nuevoFavorito.value}}</pre>
<!-- <span>Persona</span>
<pre>{{persona | json}}</pre> -->
